[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

requests = "*"
pandas = "*"
tqdm = "*"
xlrd = "*"
pyexcel = "*"
pyexcel-xls = "*"
xlsxwriter = "*"
bizdays = "*"


[requires]

python_version = "3.6"
